{% extends "base.html" %}
{% block content %}
	<div id="home">
		<h1><span>Best Surfing</span></h1>
				<h2>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace althis text with your own text.</h2>
		<div class="section">
					<a href="surfbase.html">Go To <span>Surf Basespan></a>
		</div>
		<div class="news">
			<h3>News &amp; Blog</h3>
					<a href="newsblog.html" class="figure"><img src="/static/images/surfing2.png" alt="Image"></a>
			<div>
						<h4><a href="newsblog.html">This is just place holder</a></h4>
				<p>
							This website template is for free. This is just a place holder, so you can see what the site would look like. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. <a href="newsblog.ht" class="more">(more)</a>
				</p>
			</div>
		</div>
	</div>

{% endblock %}