{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>DAI</title>

    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Menú</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/restaurantes/test_template/">Test</a></li>
                    <li><a href="/restaurantes/">Restaurantes</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

        <div class="container">
            <div class="row justify-content-center">
                <h1 class="mt-2">Diseño de aplicaciones para internet</h1>
                <div class="col-8">
                  <hr class="mt-0 mb-4">
                  {% block content %}
                  {% endblock %}
                </div>
                <div class="col-md-4 hidden-sm">
                    <h3 class="mt-4">Menu</h3>
                    <ul id="navigation">
                        <li>
                            <a href="{% url 'index' %}" class="link1">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'test_template' %}">Test</a>
                        </li>
                        <li>
                            <a href="/restaurantes/">Restaurantes</a>
                        </li>
                        <li>
                            <a href="{% url 'add_plato' %}">Añadir plato</a>
                        </li>
                        <li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- footer -->

        <!-- All that javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

        {% block scripts %}
        {% endblock %}
    </body>
</html>