{% extends "base.html" %}
{% block content %}
	<div id="surfbase">
				<h1>Surfer’s Paradise</h1>
				<div>
					<div>
						<h3>This is just a place holder</h3>
						<p>
							This website template is for free. This is just a place holder, so you can see what the site would look like. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. This website template is for free. This is just a place holder, so you can see what the site would look like. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
						</p>
					</div>
					<a href="newsblog.html" class="figure"><img src="/static/images/surfing3.png" alt="Image"></a> <a href="newsblog.html" class="blog">Go To <span>Blog</span></a>
				</div>
				<h3>This is just a place holder, so you can see what the site would look like.</h3>
				<img src="/static/images/surfing4.png" alt="Image" class="figure">
				<p>
					This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
				</p>
			</div>
{% endblock %}